---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
import { xata } from "../xata"
import bg from "../bg.webp"
const programs = await xata.db.Programs.select([
  "Title",
  "Description",
  "Slug",
]).getAll()
---

<Layout title="Department of Computer Science">
  <link
    slot="homeBg"
    rel="preload"
    type="image/webp"
    as="image"
    href={bg.src}
  />
  <header class="container">
    <div>
      <h1 style="line-height: 1;color: var(--accent);">
        Department of Computer Science
      </h1>
      <p style="margin-block: .5rem;font-size: 1.2rem;">
        Krantiguru Shyamji Krishna Verma Kachchh University
      </p>
    </div>
    <Image
      alt="Department of Computer Science Image"
      src={bg}
      width={500}
      height={400}
    />
  </header>
  <div
    id="programs"
    class="container"
    style="flex-direction: column; justify-content: center;align-items: start;"
  >
    <h2 class="heading">Programs We Offer</h2>
    <div class="grid">
      {
        programs.map(({ Title, Description, Slug }) => (
          <div class="course">
            <h3>{Title}</h3>
            <p>{Description}</p>
            <a class="btn" href={`/programs/#${Slug}`}>
              Explore
            </a>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 1.5rem;
    min-height: 90vh;

    @media screen and (max-width: 786px) {
      flex-direction: column;
      justify-content: start;
    }

    h1 {
      @media screen and (max-width: 786px) {
        margin-top: 1rem;
      }
    }

    img {
      object-fit: cover;
      max-width: 100%;
      border-radius: 0.5rem;
      border: 2px solid var(--border);
      box-shadow: 0 0 5px var(--border);
    }
  }

  #programs {
    scroll-margin: 1rem;
  }
  .grid {
    gap: 3rem;
  }
  .course {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--border);
    box-shadow: 0 0 3px var(--border);
  }
  .course h3 {
    color: CanvasText;
  }
  .course p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
  }
  .course .btn {
    align-self: start;
    margin-top: auto;
  }
  .course p {
    margin-bottom: 0.5rem;
  }
/*  .container {
    max-width: 80rem;
  }*/
</style>
