---
import Layout from "../layouts/Layout.astro"
import { xata } from "../xata"

const data = await xata.db.Peoples.select([
  "Name",
  "Designation",
  "Courses_Summer",
  "Courses_Winter"
]).getAll()

const profs = data.filter(elem => elem.Designation.includes("Professor"))
const tech_staff = data.filter(elem => elem.Designation.includes("Programmer"))
const admin_staff = data.filter(
  elem => elem.Designation === "Clerk" || elem.Designation === "Peon"
)
---

<Layout title="People">
  <div class="container">
    <div class="table_wrapper">
      <table>
        <thead>
          <tr>
            <th class="tableHeading" colspan="5">
              Members of The Faculty
              <span>Academic staff and their teaching assignments for the current academic year</span>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Designation</th>
            <th class="text-nowrap">Courses in Summer</th>
            <th class="text-nowrap">Courses in Winter</th>
          </tr>
        </thead>
        {
          profs.map(
            ({ Name, Designation, Courses_Summer, Courses_Winter }) => (
              <tr>
                <td>{Name}</td>
                <td style="display: flex;flex-wrap: wrap;gap: .5rem;">{Designation.split(",").map(role=><span class="badge">{role}</span>)}</td>
                <td>{Courses_Summer}</td>
                <td>{Courses_Winter}</td>
              </tr>
            )
          )
        }
      </table>
    </div>
    <div class="row">
      <div class="table_wrapper">
        <table>
          <tr>
            <th class="tableHeading" colspan="3">
            Members of The Technical Staff
            <span>Technical support personnel responsible for laboratory and equipment maintenance</span>
          </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Designation</th>
          </tr>
          {
            tech_staff.map(({ Name, Designation }) => (
              <tr>
                <td>{Name}</td>
                <td><span class="badge">{Designation}</span></td>
              </tr>
            ))
          }
        </table>
      </div>
      <div class="table_wrapper">
        <table>
          <tr>
            <th class="tableHeading" colspan="3">
            Members of The Administrative Staff
            <span>Administrative personnel responsible for office management and support</span>
          </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Designation</th>
          </tr>
          {
            admin_staff.map(({ Name, Designation }, index) => (
              <tr>
                <td>{Name}</td>
                <td><span class="badge">{Designation}</span></td>
              </tr>
            ))
          }
        </table>
      </div>
    </div>
  </div>
</Layout>

<style>
  .table_wrapper {
    overflow-x: auto;
    border-radius: 1rem;
    border: 4px solid var(--accent-opaque);
    box-shadow: 0 0 5px var(--accent-opaque);
    table{
      width: 100%;
    }
  }
  .border-wrapper{
    box-shadow: 0 0 4px var(--accent);
    border: 1px solid var(--accent);
    border-radius: 1rem;
  }
  table{
    border-collapse: collapse;
  }
  tr:nth-child(odd){
    background: var(--accent-opaque);
  }
  th {
    color: var(--accent);
  }
  .tableHeading {
    font-size: 1.5rem;
    span {
      margin-top: 0.5rem;
      display: block;
      font-size: initial;
      color: var(--accent-body);
      font-weight: normal;
    }
  }
  th,
  td {
    padding: 1rem;
    text-align: start;
  }
  .row {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
  }
  .badge {
    padding: 0.4rem;
    border-radius: 1000px;
    color: var(--accent);
    border: 1px solid var(--accent);
    text-wrap: nowrap;
  }
  .text-nowrap{
    text-wrap: nowrap;
  }
  @media (max-width: 560px) {
    .row {
      flex-direction: column;
    }
  }
</style>
