---
import Layout from "../layouts/Layout.astro"
import { xata } from "../xata"

const data = await xata.db.Peoples.select([
  "Name",
  "Designation",
  "Courses_Summer",
  "Courses_Winter"
]).getAll()

const profs = data.filter(elem => elem.Designation.includes("Professor"))
const tech_staff = data.filter(elem => elem.Designation.includes("Programmer"))
const admin_staff = data.filter(
  elem => elem.Designation === "Clerk" || elem.Designation === "Peon"
)
---

<Layout title="Peoples">
  <div class="container">
    <div class="table_wrapper">
      <table border="1">
        <thead>
          <tr>
            <th colspan="5">Members of The Faculty</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Courses in Summer</th>
            <th>Courses in Winter</th>
          </tr>
        </thead>
        {
          profs.map(
            ({ Name, Designation, Courses_Summer, Courses_Winter }, index) => (
              <tr>
                <td>{Name}</td>
                <td>{Designation}</td>
                <td>{Courses_Summer}</td>
                <td>{Courses_Winter}</td>
              </tr>
            )
          )
        }
      </table>
    </div>
    <table style="margin-block: 2rem;" border="1">
      <tr>
        <th colspan="3">Members of The Technical Staff</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Designation</th>
      </tr>
      {
        tech_staff.map(({ Name, Designation }, index) => (
          <tr>
            <td>{Name}</td>
            <td>{Designation}</td>
          </tr>
        ))
      }
    </table>
    <table border="1">
      <tr>
        <th colspan="3">Members of The Administrative Staff</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Designation</th>
      </tr>
      {
        admin_staff.map(({ Name, Designation }, index) => (
          <tr>
            <td>{Name}</td>
            <td>{Designation}</td>
          </tr>
        ))
      }
    </table>
  </div>
</Layout>

<style>
  .container {
    margin-top: 2rem;
  }
  .table_wrapper {
    overflow-x: auto;
  }
  table {
    border-collapse: collapse;
  }
  table th {
    color: var(--accent);
  }

  table th,
  table td {
    padding: 1rem;
    line-height: 1;
    text-align: center;
  }
</style>
