---
import Layout from "../layouts/Layout.astro"
import { xata } from "../xata"

const programs = await xata.db.Programs.select([
  "Title",
  "Acronym",
  "Description",
  "Duration",
  "Intake",
  "Admissions",
  "Eligibility",
  "KeyAreas",
  "Slug",
]).getAll()
---

<Layout title="Programs">
  <div class="container">
    <h2 class="heading">Programs Offered</h2>
    <div class="programs">
      {
        programs.map(
          ({
            Slug,
            Title,
            Acronym,
            Description,
            Duration,
            Intake,
            Admissions,
            Eligibility,
            KeyAreas
          }) => {
            return (
              <div class="program" data-aos="fade-up" id={Slug}>
                <div class="title">
                  <strong style="font-size: 1.5rem;">
                    {Title}
                  </strong>
                  <strong class="tag">{Acronym}</strong>
                </div>
                <p>{Description}</p>
                <div class="grid">
                  <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg>
                      <div>
                        <strong>Duration</strong>
                        <p>{Duration}</p>
                      </div>
                  </div>
                  <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-icon lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><path d="M16 3.128a4 4 0 0 1 0 7.744"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><circle cx="9" cy="7" r="4"/></svg>
                      <div><strong>Intake</strong><p>{Intake}</p></div>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
                    <div><strong>Admissions</strong><p>{Admissions}</p></div>
                  </div>
                </div>
                <div class="eligib">
                  <strong>Eligibility Criteria</strong>
                  <p>{Eligibility}</p>
                </div>
                <div class="keyAreas">
                  <strong>Key Areas of Study</strong>
                  <ul class="grid">
                    {KeyAreas.map(key=><li>{key}</li>)}
                  </ul>
                </div>
                <a
                  class="btn"
                  style="margin-top: 1rem;"
                  href={`/courses/${Slug}`}
                >
                  View Syllabus
                </a>
              </div>
            )
          }
        )
      }
    </div>
  </div>
</Layout>

<style>
  .programs {
    display: grid;
    gap: 2rem;
  }
  strong{
    color: CanvasText;
  }
  .program {
    background: var(--accent-opaque);
    padding: 2rem;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    scroll-margin: 12rem;

    .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      .tag{
        padding: 0 0.6rem;
        background: var(--accent);
        border-radius: 99px;
        color: #fff;
      }
    }

    .grid{
      margin-block: 1rem;
    }
    .grid > div{
      background: Canvas;
      padding: 1rem;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      svg{
        stroke: CanvasText;
      }
    }
    .eligib{
      background: Canvas;
      padding: 1rem;
      border-radius: .5rem;
      border-left: 3px solid var(--accent);
    }
    .keyAreas{
      margin-block: 1rem;
      .grid{
        margin-left: 1rem;
        grid-template-columns: repeat(2,minmax(0,1fr));
      }
    }
    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
</style>
