---
import Layout from "../layouts/Layout.astro"
import { xata } from "../xata"

const programs = await xata.db.Programs.select([
  "Title",
  "Description",
  "Requirement",
  "Slug",
]).getAll()
---

<Layout title="Programs">
  <div  class="container">
    <h2 class="heading">Programs Offered</h2>
    {
      programs.map(({ Description, Requirement, Title, Slug }) => {
        return (
          <div id={Slug} style="margin-bottom: 1.5rem;scroll-margin: 1.2rem;">
            <h3 style="color: CanvasText;">{Title}</h3>
            <p>{Description}</p>
            <p style="white-space: pre-line;margin-top: 1rem;">{Requirement}</p>
            <a class="btn" style="margin-top: 1rem;" href={`/courses/${Slug}`}>View Syllabus</a>
          </div>
        )
      })
    }
  </div>
</Layout>
