---
import { ClientRouter  } from "astro:transitions"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "../globals.css"
import { Image } from "astro:assets"
const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title} | CS KSKVKU Blogs</title>
    <script is:inline>
        localStorage.getItem("theme") === "dark" && document.documentElement.classList.add("dark")
    </script>
    <script is:inline src="https://unpkg.com/lenis@1.3.3/dist/lenis.min.js"></script>
    <script defer src="/navEvents.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link slot="canonical" rel="canonical" href={Astro.url} />
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <main style="min-height: 85vh">
      <div class="container blog_container">
        <Image class="cover" width={400} height={300} src={frontmatter.coverImage} alt={frontmatter.title} />
        <div class="details">
          <div class="flex">
            <span class="tag">{frontmatter.tag}</span><span>{frontmatter.date}</span>•<span>{frontmatter.readTime} read</span>•<span>By {frontmatter.author}</span>
          </div>
          <h2 class="heading" style="margin-bottom: 0;">{frontmatter.title}</h2>
          <p>{frontmatter.description}</p>
          <div class="content">
            <slot />
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
  <style is:global>
    .blog_container{
      margin-top: 5rem;
      padding: unset;
      max-width: 75ch;
      border-radius: 1rem;
      box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.15);
      overflow: hidden;

      @media (max-width: 768px) {
          margin-top: 2rem;
      }

      h1,h2,h3,h4,h5,h6 {
        color: var(--accent);
      }
      .details{
        padding: 2rem;
        @media (max-width: 768px) {
          padding: 1.5rem;
        }
        .flex{
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          margin-bottom: 1.5rem;
          .tag{
            padding: 0 0.6rem;
            color: #fff;
            background: var(--accent);
            border-radius: 99px;
          }
        }
      }
      .cover{
        width: 100%;
        object-fit: cover;
      }
    }
    .content {
      margin-top: 1.5rem;
      p{
        margin-bottom: 1.5rem;
      }
      img {
        display: block;
        max-width: 100%;
        object-fit: cover;
        border-radius: .3rem;
        margin-block-end: 1rem;

        &[center]{
          margin-inline: auto;
        }
        &[left]{
          margin-inline-end: auto;
        }
        &[right]{
          margin-inline-start: auto;
        }
        @media screen and (max-width: 768px) {
          &[autoheight]{
            height: auto;
          }
        }
      }
    }
    @media  (max-width: 768px) {
      main{
        padding-inline: 1rem;
      }
    }
  </style>
</html>
