---
import { ClientRouter  } from "astro:transitions"
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar.astro"
import "../globals.css"
const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title} | CS KSKVKU Blogs</title>
    <script is:inline>
       document.documentElement.classList.toggle("dark", localStorage.getItem("theme") === "dark")
    </script>
    <script defer src="/navEvents.js"></script>
    <link slot="canonical" rel="canonical" href={Astro.url} />
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <main style="min-height: 85vh; padding-block: 1rem;">
      <div class="container blog_container">
        <h2 class="heading">{frontmatter.title}</h2>
        <p style="font-size: small;">{frontmatter.date}</p>
        <p>{frontmatter.description}</p>

        <div class="content">
          <slot />
        </div>
      </div>
    </main>
    <Footer />
  </body><style is:global>
    .blog_container h1,
    .blog_container h2,
    .blog_container h3,
    .blog_container h4,
    .blog_container h5,
    .blog_container h6 {
      color: var(--accent);
    }
    .content {
      margin-top: 1rem;
    }
  </style>
</html>
